
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: #f4f7f6;
    color: #333;
    padding-top: 110px; 
     backdrop-filter: blur(100px);
}

/* el mennu */
.header-pes {padding: 8px 0;
    box-shadow: 02px 5px rgba(0,0,0,0.50);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.ContNavegacion {  max-width: 1320px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
}


.texto-logo {
    font-size: 24px;
    color: #000000; 
    font-weight: 700;
}


.navegacion {
    display: flex;
    gap: 35px;
    align-items: center;
}
.navegacion button {
    position: relative;
    font-size: 1.1em;
    color:#000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    background: transparent;
border: none;
outline: none;
cursor: pointer;
}

.navegacion button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navegacion button:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navegacion a {
    text-decoration: none !important;
    color: #4a4a4a !important;
    font-weight: 600 !important; 
    font-size: 15px !important;
    transition: 0.2s ease-in-out !important;
}

/*TARJETAS */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.super-contenedor {
    padding-top: 40px;
}

.hero-seccion {
    text-align: center;
    padding: 50px 20px;
    background: white;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.02);
}

.hero-seccion h1 {
    font-size: 42px;
    color: #2c3e50;
    margin-bottom: 12px;
}

.hero-seccion p {
    color: #7f8c8d;
    font-size: 18px;
}

.Subtitulos {
    font-size: 24px;
    color: #2c3e50;
    margin: 40px 0 25px 0;
    
    text-align: center;
    
}
.Tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 60px;
}

.Tarjetas2 {
    background: white;
    padding: 22px;
    border-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 8px 24px rgba(0,0,0,0.04);
}

.Tarjetas2:hover {
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
    border-color: #0056b3;
}
.Tarjetas2 h3 {
    color: #0056b3;
    font-size: 22px;
    margin-bottom: 10px;
}
.Tarjetas2 .desc {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}
.Tarjetas2 .info {
    font-size: 14px;
    color: #7f8c8d;
    border-top: 1px solid #f5f5f5;
    padding-top: 0px;
}
.Tarjetas2 b {
    color: #333;
}
.navegacion h2{
  margin: 30px;
  background: none;
  border: 1px solid #353535;
  outline: none;
  max-width: 200px;
  padding: 11px 23px;
  font-size: 16px;
  border-radius: 50px;
  color: #000000;
  box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
    rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}